/* This css file contains new classes structure */

:root {
    --primary-font: 'Roboto', sans-serif;
    --brand-color: #2196F3;
    --main-text-color: #212121;
    --addition-text-color: #757575;
    --dark-background-color: #2F303A;
    --light-background-color: #F5F4FA;
    --button-hover-color: #188CE8;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    font-family: var(--primary-font);
    background-color: #FFFFFF;
    color: var(--main-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ------- COMPONENTS ------- */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
/* ------- / COMPONENTS ------- */

/* ------- NAVIGATION ------- */
.logo-header-secondcolor {
    color: var(--black);
}

.menu .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.menu .current,
.menu .link:hover,
.menu .link:focus {
    color: var(--brand-color);
}

.contact .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--addition-text-color);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--brand-color);
}
/* ------- / NAVIGATION ------- */

/* ------- HERO ------- */
.hero {
    background-color: var(--dark-background-color);
    color: var(--white);
    text-align: center;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--brand-color);
    color: var(--white);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-hover-color)
}
/* ------- / HERO ------- */


/* ------- BENEFITS ------- */
.benefits-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-descriptor {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--addition-text-color);
}
/* ------- / BENEFITS ------- */

/* ------- WHAT DO WE DO ------- */
.work {
    text-align: center;
}
/* ------- / WHAT DO WE DO ------- */

/* ------- TEAM ------- */
.team {
    background-color: var(--light-background-color);
}

.team-item {
    background-color: var(--white);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-role {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--addition-text-color);
}
/* ------- / TEAM ------- */

/* ------- PORTFOLIO ------- */
.portfolio {
    text-align: center;
}

.filter-button {
    color: var(--main-text);
    background-color: var(--light-background-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.gallery-filter .current,
.filter-button:hover,
.filter-button:focus {
    color: var(--white);
    background-color: var(--brand-color);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.project-type {   
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: var(--addition-text-color);
}
/* ------- / PORTFOLIO ------- */

/* ------- FOOTER ------- */
.footer {
    background-color: var(--dark-background-color);
}

.logo-footer-secondcolor {
    color: var(--white);
}

.address .link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address .kyiv-address {
    color: var(--white);
}
/* ------- / FOOTER ------- */